<!-- <h1 class="text-center">{{title}}<h1>
<br> -->
<!-- Table to display the data -->

<div class="container"> 
    <br>
    <a routerLink='/AddBook' type="button" class="btn ml-3 btn-primary">Add Book</a>
    <h3 class="text-center">List of book</h3>      
    <table class="table">
        <thead>
        <tr>
            <th>id</th>
            <th>Book Name</th>
            <th>Price</th>
            <th>Writer</th>
            <th>Options</th>
            
        </tr>
        </thead>
        <tbody>
        <tr *ngFor = "let book of Booklist">
            <th>{{book.id}}</th>
            <td>{{book.name}}</td>
            <td>{{book.price}}</td>
            <td>{{book.writer}}</td>
            <td>
             <button type="button" class="btn btn-sm btn-warning">Update</button>
             <button type="button" class="btn btn-sm btn-danger">Delete</button>
            </td>
            
        </tr>
    </tbody>
    </table>
</div>